* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    /*font-family: 'Francois One', sans-serif;*/
    max-width: 1500px;

}


/*HEADER*/

.container {

   
    background-color: #F0F8FF;
    color: blue;
    margin: auto;
    border-radius: 15px;

}



header {
    
    height: 75px;
    position: relative;
    background-color: blue;
    color: white;
    border: 1px solid #777;
    



}

.login {
    /*overflow: hidden;*/
    position: absolute;
    float: right;
    right: 200px;
    top: 0;


}    

/* Default Input */
.login #register {

    display: block;
    float: right;
    height: 27px;
    width: 184px;
    border: 1px solid black;
    border-radius:5px;
    font-size:12px;
    font: Francois One, sans-serif;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 10px;

}


.login #register.logIn {
    margin-top: 15px;

    -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
    text-indent:0;
    border:1px solid #84bbf3;
    display:inline-block;
    color:#ffffff;
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
    font-style:normal;
    height:20px;
    line-height:15px;
    width:52px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;

}

.logIn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}

.logIn:active {
    position:relative;
    top:1px;
}

.surround {

    display: inline-block;
    /*margin-bottom: 30px;*/
    float: right;

}

.logOut {
        
        position: absolute;
        right: 140px;
        bottom: 19px;

        display:inline-block;
        

        -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
        box-shadow:inset 0px 0px 0px 0px #bbdaf7;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        */background-color:#79bbff;
        -webkit-border-top-left-radius:15px;
        -moz-border-radius-topleft:15px;
        border-top-left-radius:15px;
        -webkit-border-top-right-radius:15px;
        -moz-border-radius-topright:15px;
        border-top-right-radius:15px;
        -webkit-border-bottom-right-radius:15px;
        -moz-border-radius-bottomright:15px;
        border-bottom-right-radius:15px;
        -webkit-border-bottom-left-radius:15px;
        -moz-border-radius-bottomleft:15px;
        border-bottom-left-radius:15px;
        text-indent:0;
        border:1px solid #84bbf3;
        
        color:#ffffff;
        font-family:Verdana;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:20px;
        line-height:15px;
        width:60px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #528ecc;

    }

    /*.logOut:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
        background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
        background-color:#378de5;
    }

    .logOut:active {
        position:relative;
        top:1px;
    }*/
    


div.header.text h1 {

    display: inline-block;
   /* float: left;*/
    width: 600px;
    margin-top: 10px;
    margin-left: 200px; 
    font-family: 'Oswald', sans-serif;

    

}

.login form .field {

    display: inline-block;
}

/*BODY*/

.landing {

    margin: 20px;
    display: block;
    font-size: 30px;
    text-align: center;
    font-style: bold;

}


div.index {

    overflow: hidden;
    border-bottom: 1px solid black;
    margin: auto;
    display: block;


}

aside.index {

    
    float: left;
    width: 50%;
    
}

.connect {
    
    font-size: 25px;
    font-style: bold;


}

.envelope {

    margin-top: 50px;
}

.envelope span {
    
    font-size: 18px;
    color: black;

}

.book {

    margin-top: 30px;
}

.book span {
    
    font-size: 18px;
    color: black;

}

.university {

    margin-top: 30px;
}

.university span {
    
    font-size: 18px;
    color: black;

}

aside.index nav {
    /*width: 50%;*/
    /*border-right: 1px solid black;*/
    height: 500px;
    padding: 1px;

}

.dropdown {

    height: 400px;
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

/*RIGHT SIDE*/

div.index .divider {
    display: inline-block;
    width: 50%;
    /*overflow: hidden;*/
    /*float: right;*/
    
    text-align: center;
    /*padding: 10px;*/
    
}

.divider form .field {

    display: inline-block;
}


.divider form .field-input {




}

.actioncall {

    font-size: 25px;
    color: black;

}

.actioncall2 {

    margin-top: 10px;
    font-size: 18px;
    color: blue;

}



.signup {

   /*height: 400px;
   width: 500px; */
   display: inline-block;
   /*background-color: gray;*/
   margin: auto;
   margin-top: 10px;
   color: blue;

}

.signup-box{
  height: 35px;
  width: 200px;
  font-size: 1.5em;
  margin: 20px 5px;
   
}

.signup-box#email{

    width: 414px;

}

.signup-box#password {

    width: 414px;

}

.signup-box#verify {

    width: 414px;

}

#join {

    height: 35px;
    font-size: 1.5em;
    /*margin: 10px;*/
    width: 414px;
    background-color: blue;
    color: white;
}    

/*FOOTER*/

footer {

    background-color: blue;
    color: white;
    height: 50px;
    border-bottom: 1px solid black; 

}

footer p {

    text-align: center;

}

.footerLogo {

     overflow: hidden;
     position: absolute;
}

.logo {
    float: left;
    color: white;
    margin: 10px;
    text-decoration:none;
    

}


.navbar {
    float: right;
    margin: 5px;
    display: block;
    
}  


.nav {

    padding: 5px, 10px;
    color: white;
    text-decoration:none;
    margin: 0 5px;
    

}

/*PROFILES PAGE*/

.container1 {

    background-color: ##F0F8FF;
    color: blue;
    margin: auto;
    /*border-radius: 15px;*/


}

/*main.profile {

    
    
    display: block;
    min-width: 1000px;
    min-height: 500px;



}*/

section.profile {

    width: 100%;
    height: 520px;
    overflow: hidden;
    display: block;
    margin-top: 10px;
    background-color: ##F0F8FF;
    overflow: scroll;
    
    /*position: absolute;*/
    /*clear: both;*/


    
    
}


aside.profile {

    margin: 0 10px 10px 10px;
    height: 500px;
    width: 770px;
    background-color: #6699FF;
    border-radius: 10px;
    /*border: 1px solid black;*/
    float: left;
    position: absolute;

    

    
}



div.info {
    /*background: url(../images/paper.png);*/
    overflow: hidden;
    position: absolute;
    display: block;
    background-color: #F0F8FF;
    /*border: 1px solid black;*/
    width: 745px;
    height: 300px;
    margin: 10px;
    float: left;
    text-align: left;
    border-radius: 10px;


    
}

div.info h4 span.highlight {

    color: blue;
}




aside.profile img {

    margin: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: yellow;
    float: left;
    display: block;
    border-radius: 10px;
    margin-right: 15px;
    

    
}



/*aside.profile .info {

    height: 250px;
    width: 350px;
    background-color: #E8E8E8;
    margin-left: 240px;
    margin-top: 20px;
    text-align: center;

}*/

.h2name {
    

    margin-top: 10px;
    margin-left: 10px;
    color: blue;
    
}

h3 {

     margin-top: 5px;
     color: black;
     margin-left: 10px;
     
   
}

h3.bottom {

    margin-bottom: 20px;


}

div.info h4 {
    
    text-align: left;
    margin-top: 10px;
    color: black;
    margin-bottom: 20px;
    /*margin-left: 10px;*/

}

/*div.info h4 {

    padding-left: 10px;
}*/

/*h4.p {
    
    text-align: left;
    margin-top: 10px;
    color: black;
    margin-left: 10px;

}*/
div.info a.mailto {

    margin-left: 275px;
    margin-right: 50px;
}



div.info a {
        
        
        margin-top: 15px;
        /*position: absolute;
        right: 140px;
        bottom: 19px;
*/
        /*display:inline-block;*/
         

        -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
        -webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
        box-shadow:inset 0px 0px 0px 0px #bbdaf7;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
        background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
        */background-color:#79bbff;
        -webkit-border-top-left-radius:15px;
        -moz-border-radius-topleft:15px;
        border-top-left-radius:15px;
        -webkit-border-top-right-radius:15px;
        -moz-border-radius-topright:15px;
        border-top-right-radius:15px;
        -webkit-border-bottom-right-radius:15px;
        -moz-border-radius-bottomright:15px;
        border-bottom-right-radius:15px;
        -webkit-border-bottom-left-radius:15px;
        -moz-border-radius-bottomleft:15px;
        border-bottom-left-radius:15px;
        text-indent:0;
        border:1px solid #84bbf3;
        
        color:#ffffff;
        font-family:Verdana;
        font-size:12px;
        font-weight:bold;
        font-style:normal;
        height:25px;
        line-height:20px;
        width:70px;
        text-decoration:none;
        text-align:center;
        text-shadow:1px 1px 0px #528ecc;
        padding: 7px;

    }

/*RIGHT SIDE*/

section .column {

    float: right;
    margin: 0 10px 10px 10px;
    background-color: #6699FF;
    min-height: 500px;
    width: 625px;
    padding: 10px;
    border-radius: 10px;
    /*overflow: hidden;
    clear: both;*/
    

}

.headerbox {

    background-color: #F0F8FF;
    width: 605px;
    height: 75px;
    border-radius: 10px;
    /*display: block;*/
}

.h1text {

    margin: 0px;
    text-align: center;
}

.h2box {

    /*background-color: gray;*/
    width: 550px;
    height: 50px;
    display: block;
}

section .column h1 {

    margin-bottom: 10px;
}

section .column h2.mentors {

    float: left;
    margin-left: 25px;
    /*display: block;
    overflow: hidden;
    position: relative;*/
}
section .column h2.mentees {

    float: right;
    /*display: block;
    overflow: hidden;
    position: relative;*/
    
}


/*MEDIA OBJECT*/

/*LEFT FOR MENTORS*/
.ulmatches {

    display: inline-block;



}
.outer {
  background-color: #BCD2FF;
  /*#E8E8E8;*/
  /*#597571;*/
  color: black;
  margin:10px;
  width: 275px;
  float: left;
  border-radius: 10px;
  text-decoration: none;
  

}


.listing {
  margin-top: 30px;  
  list-style-type: none;
  overflow: scroll;
 
  float: left;
}

.listing h4 {
  margin-top: 0;

}

.listing div img {
  height: 100px;
  width: 100px;
  /*max-width: 200px;*/
  float: left;
  display: block;
  border-radius: 10px;
  margin:5px;
}

.content {

  margin: 5px;
  /*float:right;*/
  margin-left: 115px;
  
  
}

.content a {

    text-decoration: none;
    color: blue;
}

/*.outer {
  background-color: #E8E8E8;
  /*#597571;*/
 /* margin:10px;
  width: 275px;
  float: left;
  

}*/

/*RIGHT FOR MENTEES*/

/*.listing-right {
  margin-top: 30px;  
  list-style-type: none;
 
  float: left;
}

.listing-right h4 {
  margin-top: 0;
}

.listing-right div img {
  height: 100px;
  min-width: 100px;
  max-width: 200px;
  float: left;
  display: block;
  border-radius: 10px;
  margin:5px;
}

.content-right {
  background-color: #E8E8E8;
  margin: 5px;
  text-align: center;
  float:right;
  
}*/

/*.listing div {
  margin: 5px;
  background-color: #597571;
  list-style-type: none;
  

}*/




/*SIGNUP PAGE*/

div.welcome {
    
    width: 100%;
    height: 100%;
    


}

section.welcome {

    min-width: 1000px;
    min-height: 400px;
    background-color: #F0F8FF;
    overflow: hidden;
    border-bottom: 1px solid black;
    margin: auto;
    display: block;


}

aside.welcome {

    
    float: left;
    width: 50%;
    height: 300px;
    text-align: center;

    
}

.leftblocktext {
    
    margin-top: 50px;
    font-size: 30px;
    color: blue;

}

.leftblocktext1 {
    
    margin-top: 20px;
    font-size: 25px;
    color: black;


}

.arrow {

    font-size: 300px;
    color: blue;
    margin-bottom: 50px;

}


/*RIGHT SIDE*/

section.welcome div.dropdown-right {

    float: right;
    height: 300px;
    width: 50%;
    margin: auto;
    
    
    
    
}

/*form.form {

    display: block;
    overflow: hidden;
    position: absolute;

}*/

.role {

    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    color: blue;

}



.welcome form .field {

    margin-left: 100px;
    display: inline-block;
}

.choose_role, .choose_otherrole {

    font-size: 22px;
    color: black;

    
}

form .choose_role select, .choose_otherrole select {
    color: blue;
    font-size: 20px;
    height: 30px;
    border: 1px solid blue;



}

.choose_role div.title {

    margin-bottom: 10px;

}

.choose_otherrole div.title {

    margin-bottom: 10px;

}



.matches {

    height: 35px;
    font-size: 1.5em;
    margin-top: 30px;
    margin-left: 230px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}    


/*.actioncall {

    font-size: 25px;
    color: black;

}

.actioncall2 {

    margin-top: 10px;
    font-size: 18px;
    color: blue;
}*/












    